{% extends "base.html" %}

{% block content %}
    <div class="container">
        <section id="intro" class="intro-section">
            <div class="row">
                <div class="col-lg-15">
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" id="title" aria-describedby="title"
                                   placeholder="Enter Title for the Text file">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="file">Please select the Text file</label>
                            <input type="file" class="form-control-file" id="file" name="file" aria-describedby="file">
                        </div>
                        <button type="submit" class="btn btn-primary" align="center">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        <form method="GET" action="/" enctype="multipart/form-data">
            <button type="submit" class="btn btn-danger align=" center
            ">Back</button>
        </form>
    </div>
{% endblock %}